body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

.player{
    width: 710px;
    height: 400px;
    position: relative;
    overflow: hidden;

    &:hover &__controls{
        transform: translateY(0);
        opacity: 1;
    }

    .viewer{
        width: 100%;
        height: 100%;
        // position: absolute;
    }

    &__controls{
        position: absolute;
        bottom: 0px;
        z-index: 5;   
        width: 100%;
        background-color: rgba(0, 0, 0, .4);
        box-sizing: border-box;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        transition: all ease .5s;
        transform: translateY(61px);
        opacity: .4;
    }
    .progress{
        display: flex;

        #progress__time{
            width: 96%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .control-tools{
        width: 96%;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        margin-right: auto;
        margin-left: auto;

    }
}
#volume-icon{
    width: 15px;
    height: 15px;
}

.toggle{
    margin-right: 15px;
}

